[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"
pylint = "*"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
dotenv = "*"
boto3 = "*"
python-multipart = "*"
pdfminer = "*"
pandas = "*"


[requires]
python_version = "3"
